In [18]:
def square():
    length =int(input())
    breadth = int(input())
    if length ==  breadth:
        return (length**2, True)
    else:
        return (length*breadth, False)
square()

12
12

(144, True)

In [20]:
def integer():
    n = input()
    n_string = str(n)
    return int(n_string)+int(n_string*2)+int(n_string*3)
integer()

5

615

In [26]:
def company(salary, years):
    if years <=5:
        return int(salary - (salary*0.12))
    else:
        return int(salary -(salary*0.24))
company(25000,0)

22000

In [ ]:
a. Below 40 - F

    b. 40 to 50 - C

    c. 50 to 60 - C+

    d. 60 to 70 - B

    e. 70 to 80 - B+

    f. 80 to 90 - A

    g. Above 90 - A+

In [31]:
def grading():
    marks =  0
    for  i in range(5):
        marks+= int(input())
    avg = marks/5
    if avg < 40:
        return ("F", avg)
    elif avg > 40 and avg < 50:
        return ("C", avg)
    elif avg > 50 and avg < 60:
        return ("C+", avg) 
    elif avg > 60 and avg < 70:
        return ("B", avg)
    elif avg > 70 and avg < 80:
        return ("B+", avg)
    elif avg > 80 and avg < 90:
        return ("A", avg)
    elif avg > 90:
        return ("A+", avg)
grading()

67
89
98
98
89

('A', 88.2)

In [40]:
def leap_year():
    year = int(input())
    if year%100 == 0:
        if year%400 == 0:
            return True
        else:
            return False
    elif year%4 == 0:
        return True
    else:
        return False
leap_year()

2020

True

In [42]:
7.  Enter age, gender ( M or F ), marital status ( Y or N ) and then using the following rules print their place of service.

    if an employee is female, then she will work only in urban areas.

    if an employee is a male and age is between 20 to 30 and not married then he may work anywhere.

    if an employee is a female and age is between 20 to 30 and not married then she may work in urban areas.

    if an employee is male and age is between 20 t0 30 and married then he will work in nearby Hometown.

    if an employee is female and age is between 20 t0 30 and married then she will work in her husband's city.

    And any other input of age should print "ERROR".

dfead
dfead

In [62]:
def location(age, gender, marital_status):
    if age <20 and gender == "F" and marital_status == "N":
        return "You will work only in urban areas"
    elif gender == "M" and age >20 and age<30 and marital_status == "N":
        return "You may work anywhere."
    elif gender == "F" and age >20 and age<30 and marital_status == "N":
        return "You may work in urban areas."
    elif gender == "M" and age >20 and age<30 and marital_status == "Y":
        return "You will work in nearby Hometown."
    elif gender == "F" and age >20 and age<30 and marital_status == "Y":
        return "You will work in her husband's city."
    else:
        return "ERROR."
location(25,"F","N")

'You may work in urban areas.'

In [75]:
def triangle():
    x, y,z = map(int, input().split())
    if  x == y== z:
        return "equilateral"
    elif x == y or x== z or y==z:
        return "isosceles"
    else:
        return "scalene"
triangle()

3 4 3

'isosceles'

In [77]:
def selling_price():
    quantity = int(input())
    if (quantity*100) > 1000:
        return ((quantity*100) -((quantity*100)*.10))
    else:
        return (quantity*100)
selling_price()

15

1350.0

In [ ]:
from datetime import datetime
x = input()
y = input()
date_format = "%d/%m/%Y"
a = datetime.strptime(x, date_format)
b = datetime.strptime(y, date_format)
delta = b - a
print(delta.days,"days")